body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("background.jpeg");
}

.container {
    width: 400px;
    text-align: center;
    color: green;
}

#game-container, #results-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#difficulty-container {
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button.correct {
    background-color: #28a745;
}

button.wrong {
    background-color: #dc3545;
}

.info {
    margin-top: 20px;
}

#score, #timer {
    margin: 10px 0;
}

.hide {
    display: none;
}